################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FizzBuzz
/FizzBuzz/bin/Debug/net6.0
/FizzBuzz/obj
/.vs
